[core]

  editor = nova -w
  excludesfile = ~/.gitignore-global

[diff]

  # Detect copies as well as renames
  renames = copies

[merge]

  # Include summaries of merged commits in newly created merge commit messages
  log = true

[user]

  name = Laurent Boileau
  email = developer@laurentboileau.com
  signingkey = C8AC978B8FD5BE57816D277E9D377C721CD9A0E1

[init]

  defaultBranch = main

[commit]

  gpgsign = true

[gpg]

  program = /opt/homebrew/bin/gpg